.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  margin : 50px;
}

.Home {
  margin-top : 70px;
  margin-left : 50px;
  color: #5e5c5c;
}

.App-link {
  color: #1ba2c7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
